*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    min-height:80vh;
    width: 100vw;
    background-color: #D5FAFC;
    position: relative;

    /* background-color: red; */
}
.main .heading{
    position: absolute;
    top: 50px;
    left: 216px;
}

.heading h1{
    font-size: 43px;
}
.heading p{
    color: #444343;
    margin-top: 2px;
    font-size: 13px;
    font-weight: 100;
}
.content{
    display: flex;
    position: fixed;
    gap: 25px;
    top:23%;
    left: 28%;
    /* background-color: red; */
}
#mark{
    height: 90px;
    position: absolute;
    left:10% ;
    top: 1%;
}
#PNG{
    position: absolute;
    height: 8px;
    top: -5px;
    left: -15px;

}
.boxRight{
    height: 300px;
    width: 280px;
    background: #fff;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    gap: 20px;
    border-radius: 5px;
    margin-top: 18%;
}
.rightcontent{
    font-size: 15px;
    font-weight:200;
    color: #111827;
    position: relative;

}

.namecontent h4{
    font-weight: 700;
    font-size: 13px;
    margin-top: 15px;
}

.namecontent p{
    font-size: 10px;
    font-weight: 100;
    color: #706d6d;
}

.box1{
    height: 250px;
    width: 400px;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
    border-radius: 5px;
    margin-bottom:  20px;
}
.boxcontain{
    position: relative;

}

.boxcontain>p{
    font-size: 15px;
    font-weight:200;
    color: #111827;
}

.box2{
    height: 150px;
    width: 250px;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content:center ;
    padding-left: 25px;
    border-radius: 5px;
    position: relative;
    gap: 15px;
}
.box2>p{
    font-size: 15px;
    font-weight:200;
    color: #111827;
}
#PNG1{
    position: absolute;
   height: 8px;
   left: -12px;
}
/* background: #1DB5BE;
 */


 @media only screen and (max-width: 992px){
    .content{
        display: inline-block;
    }
 }